{
  "apps" : [

    {
      "name": "geogw-dgfr-web",
      "script": "server.js",
      "exec_mode": "cluster",
      "instances": 1,
      "env": {
        "PORT": 3000,
        "GEOGW_ROOT_URL": "http://localhost:5000"
      },
      "env_production" : {
        "NODE_ENV": "production"
      }
    }
  ]
}
