<ol class="breadcrumb">
  <li>Accueil</li>
  <li><a ui-sref="root.services({ serviceProtocol: 'csw' })">Services</a></li>
  <li>
    <a ng-if="currentService" ui-sref="root.service.records({ serviceId: currentService._id })">{{ currentService.name }}</a>
    <a ng-if="!currentService" ui-sref="root.records">Recherche globale</a>
  </li>
  <li class="active">{{ dataset.metadata.title }}</li>
</ol>

<div class="row">

  <div class="col-lg-8">
    <h1>{{ dataset.metadata.title }}</h1>
    <p>
      Type : <strong>{{ datasetTypes[dataset.metadata.type] }}</strong> -
      Licence : <strong>{{ licenseLabel(dataset.metadata.license) }}</strong> -
      Dernière mise à jour de la fiche : <strong>{{ dataset.revisionDate | timeago }}</strong>
    </p>
    <div class="alert alert-warning" ng-if="moreRecent">
      <div>Une version plus récente existe sur le catalogue <strong>{{ moreRecent.parentCatalog.name }}</strong>.</div>
      <div><a href="/services/{{ moreRecent.parentCatalog._id }}/datasets/{{ moreRecent._id }}">Cliquez ici pour y accéder</a></div>
    </div>
    <div ng-bind-html="dataset.metadata.description | marked"></div>
    <p>Identifiant technique de la fiche : {{ dataset.metadata.id }}</p>
    <hr>

    <div class="row">
      <div class="col-lg-7">

        <h3><i class="fa fa-download"></i> Téléchargement</h3>

        <p ng-if="dataset.dataset.distributions.length === 0">
          Aucun lien de téléchargement n'est défini pour ce jeu de données.
        </p>

        <table class="table table-condensed table-bordered" ng-if="dataset.dataset.distributions.length > 0">
          <tr ng-repeat="dist in dataset.dataset.distributions">
            <td>{{ dist.type }}</td>
            <td>
              <div ng-if="dist.type === 'file-package' && !dist.originalDistribution">
                <div ng-if="dist.available">
                  <a target="_blank" href="{{ dist.location }}">{{ dist.layer }}</a><br>
                  <small>
                    [<a target="_blank" href="{{ downloadLink(dist, 'GeoJSON', 'WGS84') }}">GeoJSON</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'SHP', 'Lambert93') }}">SHP</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'KML', 'WGS84') }}">KML</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'CSV', 'WGS84') }}">CSV</a>]
                  </small>
                </div>
                <s ng-if="!dist.available">{{ dist.name }}</s>
              </div>
              <div ng-if="dist.type === 'file-package' && dist.originalDistribution">
                <div ng-if="dist.available">
                  <a target="_blank" href="{{ dist.location }}">{{ dist.name }}</a><br>
                </div>
                <s ng-if="!dist.available">{{ dist.name }}</s>
              </div>
              <div ng-if="dist.type === 'wfs-featureType'">
                <div ng-if="dist.available">
                  <a target="_blank" href="/api/geogw/services/{{ dist.service }}/feature-types/{{ dist.typeName }}">{{ dist.typeName }}</a><br>
                  <small>
                    [<a target="_blank" href="{{ downloadLink(dist, 'GeoJSON', 'WGS84') }}">GeoJSON</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'SHP', 'Lambert93') }}">SHP</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'KML', 'WGS84') }}">KML</a>]
                    [<a target="_blank" href="{{ downloadLink(dist, 'CSV', 'WGS84') }}">CSV</a>]
                  </small>
                </div>
                <s ng-if="!dist.available">{{ dist.typeName }}</s>
              </div>
            </td>
          </tr>
        </table>

        <h3><i class="fa fa-briefcase"></i> Organisations associées</h3>
        <div class="panel panel-default" ng-repeat="contact in dataset.metadata.contacts.concat(dataset.metadata._contacts)">
          <div class="panel-heading">
            <h3 class="panel-title">{{ contactTypes[contact.role || 'pointOfContact'] }}</h3>
          </div>
          <div class="panel-body">
            <div ng-if="contact.organizationName"><strong>{{ contact.organizationName }}</strong></div>
            <div ng-if="contact.positionName">{{ contact.positionName }}</div>
            <div ng-if="contact.individualName">{{ contact.individualName }}</div>
            <div ng-if="contact.email"><i class="fa fa-envelope-o"></i> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <h3><i class="fa fa-tags"></i> Mots-clés</h3>
        <div><span ng-repeat="keyword in dataset.metadata.keywords"><span class="label label-info">{{ keyword }}</span> </span></div>

        <h3><i class="fa fa-file"></i> Liens</h3>
        <div ng-repeat="link in dataset.metadata.links"><a href="{{ link.href }}">{{ link.name || link.href }}</a></div>

      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div ng-if="dataset.metadata.graphicOverviews[0]">
      <img ng-src="{{ dataset.metadata.graphicOverviews[0].fileName }}" class="img-responsive img-thumbnail">
    </div>
  </div>

</div>
