<ol class="breadcrumb">
  <li>Outil de publication</li>
  <li><a ui-sref="root.account.organizations">Sélection de l'organisation</a></li>
  <li class="active">{{ currentOrganization.name }}</li>
</ol>

<!-- Datasets -->
<div class="panel panel-primary" ng-if="ready()">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-cubes"></i> Jeux de données</h2>
    </div>
    <div class="panel-body">
        <p><strong>{{ datasetMetrics.published || 0 }}</strong> jeux de données sont <strong>publiés et accessibles</strong> sur <a href="https://www.data.gouv.fr">data.gouv.fr</a>.<br/>
        <strong>{{ datasetMetrics.notPublishedYet || 0 }}</strong> jeux de données sont <strong>en attente de publication</strong>.</p>
    </div>
    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-primary" ui-sref="root.account.organization.datasets({ organizationId: currentOrganization._id })">Publier des données</a>
        </div>
    </div>
</div>

<!-- Catalog -->
<div class="panel" ng-class="{ 'panel-warning': !currentOrganization.sourceCatalogs.length, 'panel-success': currentOrganization.sourceCatalogs.length > 0 }">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-book"></i> Catalogue source</h2>
    </div>
    <div class="panel-body" ng-if="!currentOrganization.sourceCatalogs.length">
        Pour poursuivre vous devez associer un <strong>catalogue source</strong> à votre organisation <a href="https://www.data.gouv.fr">data.gouv.fr</a>.
    </div>
    <div class="panel-body" ng-if="currentOrganization.sourceCatalogs.length">
        Le catalogue <strong>{{ selectedCatalog().name }}</strong> est associé à votre organisation.
        <small><a ui-sref="root.account.organization.catalog({ organizationId: currentOrganization._id })">Modifier</a></small>
    </div>
    <div ng-if="!currentOrganization.sourceCatalogs.length" class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-warning" ui-sref="root.account.organization.catalog({ organizationId: currentOrganization._id })">Choisir un catalogue</a>
        </div>
    </div>
</div>

<!-- Producers -->
<div ng-if="currentOrganization.sourceCatalogs.length" class="panel" ng-class="{ 'panel-warning': currentOrganization.producers.length === 0, 'panel-success': currentOrganization.producers.length > 0 }">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-users"></i> Producteurs source</h2>
    </div>
    <div class="panel-body" ng-if="currentOrganization.producers.length === 0">
        Pour poursuivre vous devez associer des <strong>producteurs</strong> à votre organisation <a href="https://www.data.gouv.fr">data.gouv.fr</a>.
    </div>

    <div class="panel-body" ng-if="currentOrganization.producers.length > 0">
        <span ng-if="currentOrganization.producers.length === 1"><strong>1 producteur</strong> est associé à votre organisation.</span>
        <span ng-if="currentOrganization.producers.length > 1"><strong>{{ currentOrganization.producers.length }} producteurs</strong> sont associés à votre organisation.</span>
    </div>

    <div class="panel-footer clearfix">
        <div class="pull-right">
            <a class="btn btn-primary" ui-sref="root.account.organization.producers({ organizationId: currentOrganization._id })">Associer des producteurs</a>
        </div>
    </div>
</div>
