<div class="jumbotron">
    <h1>Inspire ? Open Data !</h1>
    <p>Votre organisation gère des <strong>données géographiques</strong> avec des outils compatibles <a target="_blank" href="http://fr.wikipedia.org/wiki/Infrastructure_d%27information_g%C3%A9ographique_dans_la_Communaut%C3%A9_europ%C3%A9enne">Inspire</a> et souhaite les rendre disponibles sans effort sur <a href="https://www.data.gouv.fr">data.gouv.fr</a>.</p>
    <p>
        <a class="btn btn-primary btn-lg" ng-if="me" ui-sref="root.account.organizations" role="button"><i class="fa fa-rocket"></i> C'est par ici !</a>
        <a class="btn btn-primary btn-lg" ng-if="!me" href="/login" target="_self" role="button"><i class="fa fa-rocket"></i> Je me connecte !</a>
    </p>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="well">
            <h3 style="text-align:center"><i class="fa fa-book"></i> Catalogues de données</h3>

            <p>La passerelle Inspire moissonne <strong>plusieurs dizaines</strong> de catalogues de données issus d'<strong>infrastructures de données géographiques</strong>.</p>

            <p class="text-right"><a class="btn btn-info btn-sm" ui-sref="root.services({ serviceProtocol: 'csw' })">Consulter les catalogues</a></p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="well">
            <h3 style="text-align:center"><i class="fa fa-dashboard"></i> Tableau de bord</h3>

            <p><strong>{{ organizations.length | number }} organisations</strong> utilisent la passerelle Inspire.<br>
            <strong>{{ statistics.published | number }} jeux de données</strong> ont été publiés.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" style="display: inline-block; margin: 5px" ng-repeat="organization in organizations" ng-src="{{ organization.logo }}" alt="{{ organization.name }}">
    </div>
</div>

<p></p>
