<div class="alert alert-info" role="alert"><strong>Info :</strong> Vous pouvez activer la passerelle <strong>inspire.data.gouv.fr</strong> pour plusieurs organisations.</div>

<div class="panel" ng-class="{ 'panel-danger': !organizations, 'panel-primary': organizations }">
    <div class="panel-heading">
        <h2 class="panel-title"><i class="fa fa-building"></i> Vos organisations</h2>
    </div>
    <div class="panel-body" ng-if="!organizations">
        <p>Vous n'êtes membre d'aucune organisation sur <a href="https://www.data.gouv.fr">data.gouv.fr</a>.</p>
        <p><a href="https://www.data.gouv.fr/fr/organizations/new/">Créer une organisation</a></p>
    </div>
    <div class="panel-body" ng-if="organizations">
        Choisissez l'organisation que vous souhaitez configurer :
    </div>
    <div class="list-group" ng-if="organizations">
        <a ui-sref="root.account.organization.index({ organizationId: org._id })" class="list-group-item" ng-repeat="org in organizations">
            {{ org.name }}
        </a>
    </div>
</div>