<!DOCTYPE html>
<html lang="fr" ng-app="mainApp">
  <head>
    <title>Passerelle Inspire Open Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_fr-fr.js"></script>
    <script src="/main.js"></script>
    <script src="/controllers/layout.js"></script>
    <script src="/controllers/target-organization.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="/" class="navbar-brand">Passerelle Inspire Open Data</a></div>
      </div>
    </nav>
    <div class="container" ng-controller="mainCtrl">
        <div ng-if="me">
            <!-- You -->
            <div class="alert alert-info">
                Vous êtes connecté(e) en tant que <strong>{{ me.first_name }} {{ me.last_name }}</strong>.
                <small><a class="alert-link" href="/logout">Me déconnecter</a></small>
            </div>

            <!-- Organization -->
            <div class="panel" ng-class="{ 'panel-danger': !me.organizations, 'panel-default': me.organizations && !targetOrganization, 'panel-success': targetOrganization }">
                <div class="panel-heading">
                    <h2 class="panel-title"><i class="fa fa-building"></i> Votre organisation</h2>
                </div>
                <div class="panel-body" ng-if="!me.organizations">
                    Vous n'êtes membre d'aucune organisation sur <a href="https://www.data.gouv.fr">data.gouv.fr</a>.
                </div>
                <div class="panel-body" ng-if="me.organizations && !targetOrganization">
                    Choisissez l'organisation que vous souhaitez configurer :
                </div>
                <div class="panel-body" ng-if="targetOrganization">
                    Vous avez sélectionné l'organisation <strong>{{ targetOrganization.name }}</strong>.
                    <small><a href ng-click="selectTargetOrganization()">Modifier</a></small>
                </div>
                <div class="list-group" ng-if="me.organizations && !targetOrganization">
                    <a href class="list-group-item" ng-repeat="org in me.organizations" ng-class="{ active: targetOrganization === org.id }" ng-click="selectTargetOrganization(org)">{{ org.name }}</a>
                </div>
            </div>

            <div ng-if="targetOrganization" ng-controller="organizationCtrl">

                <!-- Catalog -->
                <div class="panel" ng-class="{ 'panel-default': !selectedCatalog, 'panel-success': selectedCatalog }">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-book"></i> Catalogue source</h2>
                    </div>
                    <div class="panel-body" ng-if="!selectedCatalog">
                        Choisissez le catalogue à partir duquel vous souhaitez importer les jeux de données :
                    </div>
                    <div class="panel-body" ng-if="selectedCatalog">
                        Vous avez sélectionné le catalogue <strong>{{ selectedCatalog.name }}</strong>.
                        <small><a href ng-click="cleanSelectedCatalog()">Modifier</a></small>
                    </div>
                    <div class="list-group" ng-if="!selectedCatalog">
                        <a href class="list-group-item" ng-click="selectCatalog(catalog)" ng-repeat="catalog in catalogs | orderBy:'name'">{{ catalog.name }}</a>
                    </div>
                </div>

                <!-- Organizations -->
                <div class="panel" ng-class="{ 'panel-default': editingOrganizations(), 'panel-danger': organizationsInCatalog.length === 0, 'panel-success': selectedOrganizations && organizationsLocked }" ng-if="organizationsInCatalog">
                    <div class="panel-heading">
                        <h2 class="panel-title"><i class="fa fa-users"></i> Producteurs source</h2>
                    </div>

                    <div class="panel-body" ng-if="organizationsInCatalog.length === 0">
                        Aucun des producteurs du catalogue n'a publié de données ouvertes.
                    </div>

                    <div class="panel-body" ng-if="editingOrganizations()">
                        Sélectionnez les producteurs dont vous souhaitez que les données ouvertes soient publiées dans votre organisation.
                    </div>
                    <div class="list-group" ng-if="editingOrganizations()">
                        <a href ng-class="{ active: organizationIsSelected(org) }" class="list-group-item" ng-repeat="org in organizationsInCatalog | orderBy:'value'" ng-if="org.value !== 'none'" ng-click="toggleOrganization(org)">
                            <span class="pull-right badge">{{ org.count }}</span>
                            {{ org.value }}
                        </a>
                    </div>

                    <div class="panel-body" ng-if="selectedOrganizations && organizationsLocked">
                        Vous avez sélectionné <strong>{{ selectedOrganizationsCount() }}</strong> producteurs.
                        <small><a href ng-click="toggleOrganizationsLock()">Modifier</a></small>
                    </div>
                    <div class="list-group" ng-if="selectedOrganizations && organizationsLocked">
                        <div class="list-group-item" ng-if="org" ng-repeat="(orgName, org) in selectedOrganizations | orderBy:'value'">
                            <span class="pull-right badge">{{ org.count }}</span>
                            {{ org.value }}
                        </div>
                    </div>

                    <div class="panel-footer clearfix" ng-if="editingOrganizations()">
                        <div class="pull-right">
                            <button class="btn btn-primary" ng-click="toggleOrganizationsLock()">Valider</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
  </body>
</html>
