<!DOCTYPE html>
<html lang="fr" ng-app="mainApp">
  <head>
    <title>inspire.data.gouv.fr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.1.0/lodash.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-route.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.2.15/angular-locale_fr-fr.js"></script>
    <script src="/main.js"></script>
    <script src="/controllers/layout.js"></script>
    <script src="/controllers/organization/index.js"></script>
    <script src="/controllers/organization/catalog.js"></script>
    <script src="/controllers/organization/producers.js"></script>
    <script src="/controllers/organization/datasets.js"></script>
  </head>
  <body>
    <nav ng-controller="navbar" role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header"><a href="/" class="navbar-brand">inspire.data.gouv.fr</a></div>
        <p ng-if="me" class="navbar-text">Connecté en tant que {{ me.first_name }} {{ me.last_name }}</p>
        <ul ng-if="me" class="nav navbar-nav navbar-right">
          <li><a href="/logout" target="_self">Déconnexion</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" ng-view></div>
  </body>
</html>
